@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700;900&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --grey: #333333;
    --background: #F5F2F0;
    --light-grey: #818181;
}

* {
    margin: 0;
    padding: 0;
    outline: 0;
}

body {
    background-color: var(--background);
    overflow: hidden;
}

.container {
    display: flex;
    height: 100vh;
}

.left-section {
    width: 30%;
    height: 100%;
}

.main{
    width: 100%
}


/* RIGHT-SECTION */
.right-section {
    width: 65%;
}

/* NAV-BAR */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 110px;
    position: relative;
}

.logo {
    width: 90px;
    position: relative;
    right: 370px;
    top: 15px
}

.list {
    display: flex;
    width: 50%;
    justify-content: space-between;
    font-family: 'Montserrat';
    font-size: 11px;
    font-weight: 600;
    color: var(--light-grey);
}

.list .list-items:first-child {
    color: var(--grey)
}

.list::before {
    content: "";
    border-bottom: 1px solid black;
    width: 360px;
    display: block;
    position: absolute;
    top: 50%;
    left: 40px
}

.list-items {
    list-style: none;
}


/* RIGHT-MIDDLE */
.right-middle {
    height: 38%;
    display: flex;
    position: relative;
}

.rm1 {
    width: fit-content;
    margin-left: 50px;
    height: 100%;
}

.rm-heading {
    font-size: 120px;
    font-family: 'Merriweather';
    font-weight: 900;
    line-height: 110px;
}

.h-lighter {
    color: var(--background);
    /* font-size: 50px; */
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: black;
}

.h-darker {
    margin-left: 140px;
    padding: 0;
    display: block;
    color: var(--grey)
}

.rm2 {
    width: fit-content;
    height: 100%;
    display: flex;
    align-items: flex-end;
    width: 17%;
    justify-content: flex-end;
}

.rm-descr {
    font-size: 30px;
    display: flex;
    text-align: left;
    margin-bottom: 28px;
    color: var(--light-grey);
}

.rm3 {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    right: 0;
    bottom: 20px;
}

.social img {
    width: 25px;
}

#s3 {
    height: 25px;
}


/* BUTTON-SECTION */
.button-section {
    height: 8%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.main-btn {
    background-color: var(--grey);
    color: #ffffff;
    width: 34.5%;
    height: 100%;
    font-size: 17px;
    border: none;
}


/* LOWER-SECTION */
.lower-section {
    height: 35%;
    font-family: 'Montserrat';
    display: flex;
    justify-content: space-between;
    position: relative;
}

.lower-left {
    width: 25%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: relative;
}

.skills {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-size: 15px;
    list-style: none;
    margin-left: 20px;
    position: relative;
    bottom: 20px;
}

.skills::before {
    content: " ";
    width: 230px;
    height: 0.5px;
    background-color: var(--light-grey);
    position: absolute;
    right: 27px;
    bottom: 80px;
    transform: rotate(90deg);

}

.skill {
    display: flex;
    align-items: center;
    color: var(--light-grey);
    font-weight: 500;
}

.skill::before {
    content: " ";
    width: 10px;
    height: 10px;
    background-color: var(--light-grey);
    position: absolute;
    left: -30px;
    border-radius: 100px;
}

.skills .skill:first-child {
    color: var(--grey);
}

.skills .skill:first-child::before {
    background-color: var(--grey);
    width: 12px;
    height: 12px;
}

/* LOWER-MIDDLE */

.lower-middle {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.comma {
    font-family: 'Merriweather';
    font-size: 60px;
    width: fit-content;
    height: fit-content;
    position: absolute;
    top: -40px;
}

.lower-text {
    position: relative;
    top: 38px;
    font-size: 13px;
    font-weight: 500;
}

.bottom-img {
    width: 400px;
    position: relative;
    top: 35px;
}

.arrow {
    height: 100%;
}

.down-arrow {
    transform: rotate(270deg);
    height: 100px;
    position: relative;
    top: 90px;
    left: 50px;
}

